<p>{{text}}</p>

<form role="form" ng-submit="Calculate(form)">
  <div data-role="fieldcontain">
    <label>Køn:</label>
    <input checked="checked" name="sex" type="radio" value="man" /> <label for="sex_man">Mand</label> 
    <input name="sex" type="radio" value="woman" /> <label for"sex_woman">Kvinde</label>
  </div>
  <div data-role="fieldcontain">
    <label>Alder:</label>
    <input ng-model="age" name="age" size="3" type="number" data-clear-btn="true" placeholder="Din alder i år" /> år
  </div>
  <div data-role="fieldcontain">
    <label>Højde:</label>
    <input ng-model="height" name="height" size="3" type="number" data-clear-btn="true" placeholder="Din højde i cm" /> cm
  </div>
  <div data-role="fieldcontain">
    <label>Vægt:</label>
    <input ng-model="weight" name="weight" size="3" value="" data-clear-btn="true" placeholder="Din vægt i kg" /> kg
  </div>
  <div data-role="fieldcontain">
    <label>Body mass index (BMI):</label>
    <input disabled="disabled" name="BMI" size="6" type="text" value="{{BMI()}}" /><small>(udregnes)</small>
  </div>
  <div data-role="fieldcontain">
    <label>Fedtmasse:</label>
    <input disabled="disabled" name="fedtmasse" size="6" type="text" value="{{fp}}" /> kg <small>(udregnes)</small>
  </div>
  <div data-role="fieldcontain">
    <label>Fedtprocent:</label>
    <input disabled="disabled" name="fedtprocent" size="6" type="text" value="" /> <small>(udregnes)</small>
  </div>

  <input class="btn btn-primary" type="submit" data-role="button" value="Udregn" data-icon="check" />
</form>

Alder: {{age}}
BMI: {{BMI}}
Fedtmasse: {{fm}}
Fedtprocent: {{fp}}